<%- include ("header.ejs") %>
<div class="cursor"></div>
<div id="preloader"></div>

<section id="hero">
    <div class="container">
        <div class="opaque"></div>
        <div id="carouselExampleFade" class="carousel" data-bs-ride="carousel" data-bs-interval=11000>
            <div class="carousel-indicators" style="height: 10px">
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0"
                    class="active bg-light px-2 mt-lg-5" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1"
                    class="bg-light px-2 mt-lg-5" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2"
                    class="bg-light px-2 mt-lg-5" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="3"
                    class="bg-light px-2 mt-lg-5" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="4"
                    class="bg-light px-2 mt-lg-5" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner slide carousel-fade">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-7 text-center">
                            <img src="/DIGITAL.webp" class="title-img img-fluid" alt="image-of-ideas-human">
                        </div>
                        <div class="col-12 col-md-12 col-lg-5 title">
                            <h1>Digital Marketing</h1>
                            <p><strong> • </strong> Turbocharge Your Online Presence with Cutting-Edge Digital Marketing
                                Strategies!<br></br>
                                <strong> • </strong> Amplify Your Brand Visibility, Generate Leads, and Drive
                                Growth!<br></br>
                                <strong> • </strong> Trusted by Businesses of All Sizes - Start-ups, SMEs, and Fortune
                                500 Companies</p>

                            <button class="btn btn-hero btn-outline-light btn-lg-lg btn-md-sm rounded-pill"
                                type="button">Learn
                                more!</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-7 text-center">
                            <img src="/ECCOMERCE.webp" class="title-img img-fluid"
                                alt="image-of-working-humans-bussiness">
                        </div>
                        <div class="col-12 col-md-12 col-lg-5 title">
                            <h1>eComerce Consultancy</h1>
                            <p><strong> • </strong> Unlock Your Online Store's Full Potential with Expert E-commerce
                                Consultancy!<br></br><strong> • </strong> Optimize Your Sales Funnel, Maximize
                                Conversions, and Boost Your Revenue!<br></br><strong> • </strong> Stay Ahead of the
                                Competition with Proven Strategies and Innovative Solutions!</p>

                            <button class="btn btn-hero btn-outline-light btn-lg-lg btn-md-sm rounded-pill"
                                type="button">Learn
                                more!</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-7 text-center">
                            <img src="/INFLUENCER.webp" class="title-img img-fluid"
                                alt="image-of-working-humans-bussiness">
                        </div>
                        <div class="col-12 col-md-12 col-lg-5 title">
                            <h1>Influencer Marketing</h1>
                            <p><strong> • </strong> Targeted Influencer Campaigns 📲 Authentic Brand Collaborations 📈
                                Measurable Results<br></br><strong> • </strong> Let Our Expert Team Connect You with the
                                Perfect Influencers for Your Niche!<br></br><strong> • </strong> Trusted by
                                Industry-Leading Brands - From Start-ups to Global Enterprises!</p>

                            <button class="btn btn-hero btn-outline-light btn-lg-lg btn-md-sm rounded-pill"
                                type="button">Learn
                                more!</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-7 text-center">
                            <img src="/WEBDEV.webp" class="title-img img-fluid" style="width: 95%!important;"
                                alt="image-of-working-humans-bussiness">
                        </div>
                        <div class="col-12 col-md-12 col-lg-5 title">
                            <h1>Web-Development</h1>
                            <p><strong> • </strong> Transform Your Ideas into Stunning, High-Performance
                                Websites!<br></br><strong> • </strong> Custom Website Design 🖌️ Responsive Development
                                💪 User-Friendly Experience<br></br><strong> • </strong> From Concept to Creation - Let
                                Our Skilled Developers Bring Your Vision to Life!</p>

                            <button class="btn btn-hero btn-outline-light btn-lg-lg btn-md-sm rounded-pill"
                                type="button">Learn
                                more!</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-7 text-center">
                            <img src="ALLUNDER.webp" class="title-img img-fluid" style="width: 95%!important;"
                                alt="image-of-growth-planning">
                        </div>
                        <div class="col-12 col-md-12 col-lg-5 title">
                            <h1 class="small-heading">Every Step For A SuccessFull Branding Under One Roof</h1>
                            <p class="small-para"> <strong> • </strong>Unlock Success with our All-in-One Business
                                Powerhouse! Boost your sales, expand your reach, and dominate the digital landscape with
                                our unrivalled expertise in digital social media marketing, influencer collaborations,
                                and business automatization. <br></br><strong> •
                                </strong> Elevate your online presence with stunning web development and captivate your
                                audience with our professional photo shoot services. Experience seamless reconciliation
                                and save time, energy, and resources.<br></br><strong class="text-white">
                                "Get ready to conquer the market under one roof!" </strong>
                            </p>
                            <button class="btn btn-hero btn-outline-light btn-lg-lg btn-md-sm rounded-pill"
                                type="button">Get in touch!</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

<section id="experience">
    <div class="container-fluid">
        <h1 class="text-left fw-bold" style="width: 70%;">"Smooth Sailing in Business: Navigating with Ease ✨"</h1>
        <p class="fw-light text-left text-white">So this how we can try to help!<img class="turn-down-arrow" src="/turn down.png"
                alt="turn-down-arrow-image"></p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul class="timeline-list">
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <div class="row">
                                <div class="col-lg-6 content-box image-class">
                                    <span><img src="/product selection.webp" alt=""></span>
                                </div>
                                <div class="col-lg-6 content-box">
                                    <h1>Product Selection</h1>
                                    <p><strong class="text-white"> • </strong> Identify a Target Market.<br> <strong
                                            class="text-white"> • </strong> Competitive Analysis.<br> <strong
                                            class="text-white"> • </strong> Product Demand
                                        and Trend Analysis.<br> <strong class="text-white"> • </strong> Profitability
                                        and Margins.<br> <strong class="text-white"> • </strong> Unique Selling
                                        Proposition.<br> <strong class="text-white"> • </strong> Supplier
                                        Reliability.<br> <strong class="text-white"> • </strong> Customer Feedback.<br>
                                        <strong class="text-white"> • </strong>
                                        Scalability.<br></br>
                                        <strong class="text-white"> SUMMARY - </strong> Remember, product selection is
                                        an ongoing process.
                                        Continuously monitor market trends, customer preferences, and feedback to adapt
                                        your product offerings and stay ahead of the competition.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <div class="row">
                                <div class="col-lg-6 content-box">
                                    <h1>Photoshoot</h1>
                                    <p><strong class="text-white"> • </strong> Customized Photo Shoots.<br> <strong
                                            class="text-white"> • </strong> Professional Studio Setup.<br> <strong
                                            class="text-white"> • </strong> Product
                                        Styling and
                                        Props.<br> <strong class="text-white"> • </strong> Model Selection and
                                        Direction.<br> <strong class="text-white"> • </strong> Editing and
                                        Retouching.<br>
                                        <strong class="text-white"> • </strong> Fast
                                        Turnaround Time.<br> <strong class="text-white"> • </strong> Image Optimization
                                        for E-commerce.<br> <strong class="text-white"> • </strong> Ongoing
                                        Support.<br></br><strong class="text-white"> SUMMARY - </strong> Partnering with
                                        our professional
                                        photo shoot
                                        service can elevate the visual presentation of your products and help you stand
                                        out in the competitive e-commerce market. Our team of experts is dedicated to
                                        capturing the unique qualities of your products and delivering stunning images
                                        that drive customer engagement and conversions.</p>
                                </div>
                                <div class="col-lg-6 image-class">
                                    <span><img src="/photoshoot.webp" alt=""></span>
                                </div>
                            </div>
                        </div>


                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <div class="row">
                                <div class="col-lg-6 content-box image-class">
                                    <span><img src="/techList.webp" alt=""></span>
                                </div>
                                <div class="col-lg-6 content-box">
                                    <h1>Technical Listing With SEO</h1>
                                    <p><strong class="text-white"> • </strong> Keyword Research.<br> <strong
                                            class="text-white"> • </strong> Title and Description Optimization.<br>
                                        <strong class="text-white"> • </strong> Image
                                        Optimization.<br> <strong class="text-white"> • </strong>
                                        Product Categorization and Structure.<br> <strong class="text-white"> •
                                        </strong> Schema Markup Implementation.<br>
                                        <strong class="text-white"> • </strong> URL
                                        Optimization.<br> <strong class="text-white"> • </strong> Technical SEO
                                        Audit.<br> <strong class="text-white"> • </strong> Ongoing SEO Monitoring and
                                        Reporting.<br></br>
                                        <strong class="text-white"> SUMMARY - </strong> By leveraging our technical
                                        listing and SEO
                                        services, you
                                        can ensure that your e-commerce product listings are optimized to rank higher in
                                        search
                                        engine results, drive organic traffic, and improve your overall online
                                        visibility. Our
                                        team of SEO experts will work closely with you to understand your business
                                        objectives
                                        and implement effective strategies to maximize your e-commerce success.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- Single Experience -->
                    <li>
                        <div class="timeline_content">
                            <div class="row">
                                <div class="col-lg-6 content-box">
                                    <h1>Visibility Targetting</h1>
                                    <p><strong class="text-white"> • </strong> Audience Research.<br> <strong
                                            class="text-white"> • </strong> Search Engine Advertising (SEA).<br> <strong
                                            class="text-white"> • </strong> Display
                                        Advertising.<br> <strong class="text-white"> • </strong>
                                        Social Media Advertising.<br> <strong class="text-white"> • </strong>
                                        Remarketing Campaigns.<br> <strong class="text-white"> • </strong> Influencer
                                        Marketing.<br> <strong class="text-white"> • </strong> Content
                                        Marketing and SEO.<br> <strong class="text-white"> • </strong> Analytics and
                                        Optimization.<br></br><strong class="text-white"> SUMMARY -
                                        </strong> By leveraging our visibility targeting services, you can
                                        ensure that your e-commerce brand and products reach the right audience,
                                        increasing your
                                        visibility, driving relevant traffic, and ultimately boosting sales and business
                                        growth.
                                        Our team of marketing experts will work closely with you to understand your
                                        goals and
                                        develop tailored strategies that align with your e-commerce business objectives.
                                    </p>
                                </div>
                                <div class="col-lg-6 image-class">
                                    <span><img src="/visibility.webp" alt=""></span>
                                </div>
                            </div>
                    </li>
                    <li>
                        <div class="timeline_content">
                            <div class="row">
                                <div class="col-lg-6 content-box image-class">
                                    <span><img src="/promotion.webp" alt=""></span>
                                </div>
                                <div class="col-lg-6 content-box">
                                    <h1>Promotional Activities</h1>
                                    <p><strong class="text-white"> • </strong> Campaign Strategy and Planning.<br>
                                        <strong class="text-white"> • </strong> Discount and Coupon Codes.<br> <strong
                                            class="text-white"> • </strong> Email
                                        Marketing.<br> <strong class="text-white"> • </strong>
                                        Social Media Campaigns.<br> <strong class="text-white"> • </strong> Influencer
                                        Partnerships.<br> <strong class="text-white"> • </strong> Content
                                        Marketing.<br> <strong class="text-white"> • </strong>
                                        Affiliate
                                        Marketing.<br> <strong class="text-white"> • </strong> Seasonal and Holiday
                                        Campaigns.<br> 9. Analytics and
                                        Optimization.<br></br><strong class="text-white"> SUMMARY - </strong> By
                                        leveraging our promotional
                                        activities services,
                                        you can
                                        effectively reach your target audience, generate buzz around your products, and
                                        drive
                                        conversions in the competitive e-commerce market. Our team of marketing experts
                                        will
                                        work closely with you to understand your business objectives and develop
                                        tailored
                                        promotional strategies that align with your brand identity and resonate with
                                        your target
                                        audience.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content">
                            <div class="row">
                                <div class="col-lg-6 content-box">
                                    <h1>Creating Social Media Awareness</h1>
                                    <p><strong class="text-white"> • </strong> Social Media Strategy.<br> <strong
                                            class="text-white"> • </strong> Account Setup and Optimization.<br> <strong
                                            class="text-white"> • </strong> Content
                                        Creation.<br> <strong class="text-white"> • </strong>
                                        Social Media Advertising.<br> <strong class="text-white"> • </strong> Influencer
                                        Partnerships.<br> <strong class="text-white"> • </strong> Community
                                        Management.<br> <strong class="text-white"> • </strong> Social
                                        Media Contests and Giveaways.<br> <strong class="text-white"> • </strong> Social
                                        Listening and Monitoring.<br> <strong class="text-white"> • </strong>
                                        Analytics and
                                        Reporting.<br></br> <strong class="text-white"> SUMMARY - </strong> By
                                        leveraging our social media
                                        awareness services, you can
                                        effectively leverage the power of social media platforms to increase brand
                                        visibility,
                                        engage with your audience, and drive traffic to your e-commerce store. Our team
                                        of
                                        social media experts will work closely with you to understand your brand
                                        identity,
                                        target audience, and business goals to develop and implement a tailored social
                                        media
                                        strategy that delivers results.</p>
                                </div>
                                <div class="col-lg-6 content-box image-class">
                                    <span><img src="/social-media.webp" alt=""></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content">
                            <div class="row">
                                <div class="col-lg-6 content-box image-class">
                                    <span><img src="/boost-orders.webp" alt="" width="100%"></span>
                                </div>
                                <div class="col-lg-6 content-box">
                                    <h1>Boost Organic Orders</h1>
                                    <p><strong class="text-white"> • </strong> Search Engine Optimization (SEO).<br>
                                        <strong class="text-white"> • </strong> Compelling Product Descriptions.<br>
                                        <strong class="text-white"> • </strong>
                                        User-Friendly
                                        Website Design.<br> <strong class="text-white"> • </strong> Customer Reviews and
                                        Ratings.<br> <strong class="text-white"> • </strong> Content
                                        Marketing.<br> <strong class="text-white"> • </strong> Social
                                        Media
                                        Marketing.<br> <strong class="text-white"> • </strong> Email Marketing.<br>
                                        <strong class="text-white"> • </strong> Customer Retention Strategies.<br>
                                        <strong class="text-white"> • </strong>
                                        Analytics
                                        and
                                        Conversion Optimization.<br></br><strong class="text-white"> SUMMARY - </strong>
                                        By leveraging our
                                        expertise in boosting organic
                                        orders, you
                                        can optimize your e-commerce website, attract qualified traffic, and provide a
                                        seamless
                                        user experience that drives conversions. Our team of marketing professionals
                                        will work
                                        closely with you to develop and implement strategies tailored to your business
                                        goals,
                                        helping you achieve sustainable growth and increased organic orders.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content">
                            <div class="row">
                                <div class="col-lg-6 content-box">
                                    <h1>Quaterly Growth Planing</h1>
                                    <p><strong class="text-white"> • </strong> Goal Setting.<br> <strong
                                            class="text-white"> • </strong> Performance Analysis.<br> <strong
                                            class="text-white"> • </strong> Market Research.<br> <strong
                                            class="text-white"> • </strong> Strategic
                                        Planning.<br> <strong class="text-white"> • </strong>
                                        Marketing and Advertising Strategie.<br> <strong class="text-white"> • </strong>
                                        Conversion Rate Optimization (CRO).<br> <strong class="text-white"> • </strong>
                                        Customer
                                        Retention and Loyalty Programs.<br> <strong class="text-white"> • </strong>
                                        Performance Tracking and Reporting.<br> <strong class="text-white"> • </strong>
                                        Continuous
                                        Optimization.<br></br>
                                        <strong class="text-white"> SUMMARY - </strong> By leveraging our quarterly
                                        growth planning
                                        services, you
                                        can align your efforts, resources, and strategies to achieve sustainable growth
                                        in the
                                        e-commerce market. Our team of experienced professionals will work closely with
                                        you to
                                        understand your business goals, develop tailored growth plans, and provide
                                        ongoing
                                        support to drive success.</p>
                                </div>
                                <div class="col-lg-6 content-box image-class">
                                    <span><img src="/growth-planing.webp" alt=""></span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline_content">
                            <div class="row">
                                <div class="col-lg-6 content-box image-class">
                                    <span><img src="/reconciliation.webp" alt=""></span>
                                </div>
                                <div class="col-lg-6 content-box">
                                    <h1>Reconciliation</h1>
                                    <p><strong class="text-white"> • </strong> Sales Reconciliation.<br> <strong
                                            class="text-white"> • </strong> Inventory Reconciliation.<br> <strong
                                            class="text-white"> • </strong> Payment
                                        Reconciliation.<br> <strong class="text-white"> • </strong> Fee
                                        and Commission Reconciliation.<br> <strong class="text-white"> • </strong>
                                        Expense Reconciliation.<br> <strong class="text-white"> • </strong> Bank
                                        Reconciliation.<br> <strong class="text-white"> • </strong>
                                        Periodic Financial Reporting.<br> <strong class="text-white"> • </strong>
                                        Process Optimization.<br></br> <strong class="text-white">
                                            SUMMARY - </strong> By leveraging our reconciliation services, you can
                                        ensure
                                        accurate financial records, maintain financial control, and make informed
                                        decisions for
                                        the growth and success of your e-commerce business. Our experienced team will
                                        work
                                        closely with you to understand your specific needs and tailor the reconciliation
                                        process
                                        to meet your requirements.</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="services">
    <div class="container-fluid service-title-box">
        <h1 class="fw-bolder service-title" style="width: 70%;">Entrepreneurial Challenges: Overcoming the Hurdles of
            Doing Business ✨
        </h1>
        <p class="fw-light text-white">what we have to offer!<img class="turn-down-arrow" src="/turn down.png"
                alt="turn-down-arrow-image"></p>
    </div>
    <div class="sticky-container-for-hori">
        <div class="main-hori">
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service one">
                        <div class="row">
                            <div class="col-lg-6">

                                <img class="service-gif" src="/increaseSales.webp" alt="">
                            </div>
                            <div class="col-lg-6">
                                <h1>Increase Sales</h1>
                                <p> <strong class="text-white"> • </strong> Boost your e-commerce sales with our expert
                                    service provider
                                    solutions.
                                    <br> <strong class="text-white"> • </strong> Increase your revenue and customer base
                                    with our
                                    specialized
                                    e-commerce services.<br>
                                    <strong class="text-white"> • </strong> Maximize your sales potential in the
                                    e-commerce market with our
                                    proven
                                    strategies.<br>
                                    <strong class="text-white"> • </strong> Partner with us to drive sales growth and
                                    achieve success in
                                    the
                                    competitive e-commerce industry.</p>
                                <button class="btn btn-outline-light btn-md-sm btn-lg-lg" type="button">Learn
                                    more!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service two">
                        <div class="row">
                            <div class="col-lg-6">
                                <img class="service-gif" src="/digital-market.webp" alt="">
                            </div>
                            <div class="col-lg-6">
                                <h1>Digital Marketing Strategies</h1>
                                <p> <strong class="text-white"> • </strong> Leverage our expert digital marketing
                                    strategies to elevate
                                    your
                                    e-commerce business.
                                    <br> <strong class="text-white"> • </strong> Drive targeted traffic, increase
                                    conversions, and amplify
                                    your
                                    online presence with our tailored digital marketing solutions.<br>
                                    <strong class="text-white"> • </strong> Stay ahead of the competition and unlock new
                                    growth
                                    opportunities with
                                    our results-driven e-commerce marketing strategies.</br>
                                    <button class="btn btn-outline-light btn-md-sm btn-lg-lg" type="button">Learn
                                        more!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service three">
                        <div class="row">
                            <div class="col-lg-6">
                                <img class="service-gif" src="/conversion-ratio.webp" alt="">
                            </div>
                            <div class="col-lg-6">
                                <h1>Conversion Ratios</h1>
                                <p> <strong class="text-white"> • </strong> Skyrocket your conversion ratio with our
                                    specialized e-commerce
                                    service
                                    provider solutions.
                                    <br> <strong class="text-white"> • </strong> Optimize your website and marketing
                                    strategies to increase
                                    conversions and drive more sales.<br>
                                    <strong class="text-white"> • </strong> Unlock the full potential of your e-commerce
                                    business with our
                                    conversion-focused strategies and techniques.<br>
                                    <button class="btn btn-outline-light btn-md-sm btn-lg-lg" type="button">Learn
                                        more!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service four">
                        <div class="row">
                            <div class="col-lg-6">
                                <img class="service-gif" src="/traffic-gen.webp" alt="">
                            </div>
                            <div class="col-lg-6">
                                <h1>Traffic Generation</h1>
                                <p> <strong class="text-white"> • </strong> Drive targeted traffic to your e-commerce
                                    website with our
                                    expert
                                    service provider solutions.
                                    <br> <strong class="text-white"> • </strong> Increase visibility, attract quality
                                    visitors, and boost
                                    your
                                    online presence with our strategic traffic generation strategies.<br>
                                    <strong class="text-white"> • </strong> Maximize your website's potential by
                                    leveraging our proven
                                    techniques
                                    to generate high-quality traffic and improve conversions.<br>
                                    <button class="btn btn-outline-light btn-md-sm btn-lg-lg" type="button">Learn
                                        more!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service five">
                        <div class="row">
                            <div class="col-lg-6">
                                <img class="service-gif" src="/collab.webp" alt="">
                            </div>
                            <div class="col-lg-6">
                                <h1>Collabrations</h1>
                                <p> <strong class="text-white"> • </strong> Harness the influence of top-tier
                                    influencers with our
                                    e-commerce
                                    service provider solutions for impactful collaborations.
                                    <br> <strong class="text-white"> • </strong> Amplify your brand's reach, engage with
                                    your target
                                    audience, and
                                    drive conversions through strategic influencer partnerships.<br>
                                    <strong class="text-white"> • </strong> Leverage the power of authentic influencer
                                    endorsements to
                                    build trust,
                                    increase brand awareness, and boost sales in the e-commerce market.<br>
                                    <button class="btn btn-outline-light btn-md-sm btn-lg-lg" type="button">Learn
                                        more!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service six">
                        <div class="row">
                            <div class="col-lg-6">
                                <img class="service-gif" src="/bussinessAuto.webp" alt="">
                            </div>
                            <div class="col-lg-6">
                                <h1>Business Automations</h1>
                                <p> <strong class="text-white"> • </strong> Streamline your e-commerce operations and
                                    boost efficiency with
                                    our
                                    business automation solutions.
                                    <br> <strong class="text-white"> • </strong> Save time and resources by automating
                                    repetitive tasks,
                                    order
                                    processing, inventory management, and more.<br>
                                    <strong class="text-white"> • </strong> Increase productivity and scalability while
                                    reducing human
                                    errors with
                                    our tailored automation strategies.<br>
                                    <button class="btn btn-outline-light btn-md-sm btn-lg-lg" type="button">Learn
                                        more!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service five">
                        <div class="row">
                            <div class="col-lg-6">
                                <img class="service-gif" src="/webSite.webp" alt="">
                            </div>
                            <div class="col-lg-6">
                                <h1>Website</h1>
                                <p> <strong class="text-white"> • </strong> Build a stunning and functional e-commerce
                                    website with our
                                    expert
                                    service provider solutions.
                                    <br> <strong class="text-white"> • </strong> Enhance user experience, drive
                                    conversions, and maximize
                                    sales
                                    potential with our customized website development services.<br>
                                    <strong class="text-white"> • </strong> Stand out in the competitive online
                                    marketplace with a visually
                                    appealing and user-friendly website crafted by our experienced team.<br>
                                    <button class="btn btn-outline-light btn-md-sm btn-lg-lg" type="button">Learn
                                        more!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service five">
                        <div class="row">
                            <div class="col-lg-6">
                                <img class="service-gif" src="/reports.webp" alt="">
                            </div>
                            <div class="col-lg-6">
                                <h1>Actual Reports</h1>
                                <p> <strong class="text-white"> • </strong> Gain valuable insights into your e-commerce
                                    performance with
                                    our
                                    comprehensive actual reports.
                                    <br> <strong class="text-white"> • </strong> Access accurate and detailed analytics
                                    to track key
                                    metrics,
                                    measure ROI, and make data-driven decisions.<br>
                                    <strong class="text-white"> • </strong> Stay informed about sales trends, customer
                                    behavior, and
                                    campaign
                                    effectiveness through our transparent reporting.<br>
                                    <button class="btn btn-outline-light btn-md-sm btn-lg-lg" type="button">Learn
                                        more!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-hori">
                <div class="inner-part col">
                    <div class="container-fluid service five">
                        <div class="row">
                            <div class="col-lg-6">
                                <img class="service-gif" src="/photoshootImp.webp" alt="">
                            </div>
                            <div class="col-lg-6">
                                <h1>First Impression Shoot</h1>
                                <p> <strong class="text-white"> • </strong> Make a lasting impact with our professional
                                    first impression
                                    shoot for
                                    your e-commerce business.
                                    <br> <strong class="text-white"> • </strong> Capture attention and engage customers
                                    with high-quality
                                    product
                                    images that leave a memorable first impression.<br>
                                    <strong class="text-white"> • </strong> Enhance your brand image and increase trust
                                    with visually
                                    stunning
                                    visuals that showcase your products in the best light.<br>
                                    <button class="btn btn-outline-light btn-md-sm btn-lg-lg" type="button">Learn
                                        more!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


<section id="worked">
    <div class="container-fluid">
        <h1 class="text-left fw-bold worked-title">Our Leaderboards ✨<img class="turn-down-arrow" src="/turn down.png"
                alt="turn-down-arrow-image"></h1>
    </div>
    <div class="container-fluid marquee-list">
        <ul>
            <li>Fab Galaxy Pvt Ltd</li>
            <li>Vaari Jaava</li>
            <li>Astoban</li>
            <li>Vani Apsara</li>
            <li>Shree Brijwasi Fashion</li>
            <li>Veer Textile</li>
        </ul>
        <ul aria-hidden="true">
            <li>Fab Galaxy Pvt Ltd</li>
            <li>Vaari Jaava</li>
            <li>Astoban</li>
            <li>Vani Apsara</li>
            <li>Shree Brijwasi Fashion</li>
            <li>Veer Textile</li>
        </ul>
    </div>

</section>


<section id="counter" class="counter section-work-data">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 col-md-6">
                <h2 class="counter-numbers" data-number="2000">0+</h2>
                <p>project complted</p>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <h2 class="counter-numbers" data-number="6000">0+</h2>
                <p>project complted</p>

            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <h2 class="counter-numbers" data-number="3000">0+</h2>
                <p>project complted</p>

            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <h2 class="counter-numbers" data-number="1000">0+</h2>
                <p>project complted</p>

            </div>
        </div>
    </div>
</section>

<section id="blogs" class="pb-5">
    <div class="container-fluid">
        <h1 class="text-left fw-bold blog-title">Industry Insights ✨<img class="turn-down-arrow" src="/turn down.png"
                alt="turn-down-arrow-image"></h1>
    </div>
    <div class="container text-center">
        <div class="row mx-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
                <div class="carousel-inner blog-inner" role="listbox">
                    <%posts.forEach(function(post){%>
                    <div class="carousel-item <%=post.class%>">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <img src="/DIGITAL.webp" class="card-img-top" alt="...">
                                        </div>
                                        <div class="col-lg-12">
                                            <h1><%=post.title%></h1>
                                            <a href="/Blogs/<%=post._id%>" class="btn btn-primary">Read More!</a>
                                            <a href="/Blogs" class="btn btn-outline-light">View More!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%});%>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#recipeCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#recipeCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</section>

<section id="testimonial">
    <div class="container-fluid">
        <h1 class="text-center fw-bold pt-5">Clients Section ✨</h1>
        <p class="fw-light text-dark text-center pb-2">We all been waiting for this moment ets hear them out!<img
                class="turn-down-arrow" src="/turn down.png" alt="turn-down-arrow-image"></p>
    </div>
    <div class="container-fluid testimonial-box">
        <div class="row mb-2" data-masonry='{"percentPosition": true }'>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card p-4">
                    <figure class="p-3 mb-0">
                        <blockquote class="blockquote">
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-muted test-left">Quisque mauris augue, molestie tincidunt condimentum
                                        vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.</p>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <i class="fa fa-quote-right fa-2x text-muted mt-3 mb-3" aria-hidden="true"></i>
                                </div>
                            </div>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-2 text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card p-4">
                    <figure class="p-3 mb-0">
                        <blockquote class="blockquote">
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-muted test-left">Quisque mauris augue, molestie tincidunt condimentum
                                        vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.</p>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <i class="fa fa-quote-right fa-2x text-muted mt-3 mb-3" aria-hidden="true"></i>
                                </div>
                            </div>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-2 text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card p-4">
                    <figure class="p-3 mb-0">
                        <blockquote class="blockquote">
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-muted test-left">Quisque mauris augue, molestie tincidunt condimentum
                                        vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.</p>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <i class="fa fa-quote-right fa-2x text-muted mt-3 mb-3" aria-hidden="true"></i>
                                </div>
                            </div>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-2 text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card p-4">
                    <figure class="p-3 mb-0">
                        <blockquote class="blockquote">
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-muted test-left">Quisque mauris augue, molestie tincidunt condimentum
                                        vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.</p>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <i class="fa fa-quote-right fa-2x text-muted mt-3 mb-3" aria-hidden="true"></i>
                                </div>
                            </div>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-2 text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card p-4">
                    <figure class="p-3 mb-0">
                        <blockquote class="blockquote">
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-muted test-left">Quisque mauris augue, molestie tincidunt condimentum
                                        vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.</p>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <i class="fa fa-quote-right fa-2x text-muted mt-3 mb-3" aria-hidden="true"></i>
                                </div>
                            </div>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-2 text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card p-4">
                    <figure class="p-3 mb-0">
                        <blockquote class="blockquote">
                            <div class="row">
                                <div class="col-md-10">
                                    <p class="text-muted test-left">Quisque mauris augue, molestie tincidunt condimentum
                                        vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi.</p>
                                </div>
                                <div class="col-md-2 pull-right">
                                    <i class="fa fa-quote-right fa-2x text-muted mt-3 mb-3" aria-hidden="true"></i>
                                </div>
                            </div>
                        </blockquote>
                        <figcaption class="blockquote-footer mb-2 text-muted">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>
    </div>
</section>

<%- include ("footer.ejs") %>